@{
    ViewBag.Title = "About";
}


<section class="flat-row flat-iconbox">
    <div class="container">
        <!-- Page title -->
        <div class="page-title parallax parallax1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h1 class="title">About Us</h1>
                        </div><!-- /.page-title-heading -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.page-title -->

        <hr />
        <p class="fa-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Nibh mauris cursus mattis molestie a iaculis at erat. Facilisis sed odio morbi quis commodo odio aenean sed.
            Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum.
            Tellus molestie nunc non blandit massa enim nec dui. Nibh tellus molestie nunc non blandit massa.
            Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
            Semper risus in hendrerit gravida rutrum quisque non tellus.
            Tincidunt eget nullam non nisi est sit amet. A arcu cursus vitae congue mauris.
            Ut porttitor leo a diam
        </p>
    </div>
</section>

