@{
    ViewBag.Title = "Contact";
}



<section class="flat-row flat-iconbox">
    <div class="container">
        <!-- Page title -->
        <div class="page-title parallax parallax1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h1 class="title">Contact Us</h1>
                        </div><!-- /.page-title-heading -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.page-title -->

        <hr />
        <address>
            Durga Nagar<br />
            Rajpur Chungi ,Agra<br />
            <abbr class="font-weight-bold">Mobile N0.:</abbr>
            +918505991798
        </address>
        <address>
            <strong class="font-weight-bold">Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong class="font-weight-bold">Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</section>

